---
layout: default
title: May 2023
---

<h1 class="toti-head">Tip of the Iceberg</h1>
<article class="toti">
<h2>Dusa McDuff</h2>
<h3>APS Member, elected 2013</h3>
{% include totibox.html id="image1"
                         align="right-box"
                         src="/assets/img/toti/mcduff.jpg"
                         height="300px"
                         width="400px"
                         caption="Copyright Barnard College. Photo courtesy of Dusa McDuff"
                         alt="Photograph of Dusa McDuff"
                         %}
<p>Dusa McDuff is a mathematician specializing in symplectic topology, a field of complex geometry with origins in physics.</p>
<p>As a graduate student at Cambridge, she solved a problem about von Neumann algebras dating from the early 1940s. However, she struggled to find her place in mathematics. She was disconnected from the mathematics community in Britain and was further isolated by the demands of being a breadwinner, homemaker, and primary caregiver for her child. Reflecting on that time, Dr. McDuff recognizes that her own internalized misogyny played a role in this as well as the structural sexism of academia and British society.</p>
<p>After an incredibly productive year as a visiting professor at MIT (1974-5), Dr. McDuff's passion for mathematics research was renewed, and she began to advocate more strongly for herself and other women in the field. Since then, she has published extensively and has made immeasurable contributions to mathematics. She is widely recognized for her mathematical achievements. She was only the second female mathematician elected a Fellow of the Royal Society of London, and she has been awarded the Satter Prize from the American Mathematical Society and the Sylvester Medal from the Royal Society.</p>
<p>She continues to teach courses, conduct groundbreaking research, and work to create connections and a community for female mathematicians.</p>
</article>
<hr>
<article class="toti">
<h2>Juliana Rubinatto Serrano</h2>
<h3>APS Lewis and Clark Field Scholar, 2021-2022</h3>
{% include totibox.html id="image2"
                         align="left-box"
                         src="/assets/img/toti/rubinattoserrano.jpg"
                         height="400"
                         width="400"
                         caption="Photo: Mayara Mariano (MA Archaeology student, University of São Paulo). Courtesy of Juliana Rubinatto Serrano"
                         alt="Juliana Rubinatto Serrano seated outside on a structure above tree canopy."
                         %}
<p>Juliana Rubinatto Serrano is a Ph.D. Archaeology student at the University of Florida. Her work currently focuses on the role of fishing in Amazon communities.</p>
<p>In Summer 2022, she traveled to the Caxiuanã National Forest, a remote area in northern Brazil, as part of her APS supported project: <i>Ethnoarchaeology of Fisherpeople in the Baía De Caxiuanã, Lower Amazon, Brazil</i>. As part of this research trip, Rubinatto Serrano analyzed animal materials from two different archaeological sites in the area. She also met with members of fishing communities to learn about local practices, both traditional techniques and modern adaptations.</p>
<p>At her university, she is also an active officer of the New Florida Journal of Anthropology and the Florida Anthropology Student Association. Future work will focus on the interrelated processes of the environment, the landscape, and of human lifeways through archaeological research in the Amazon. She seeks to center community collaboration for advancing both scientific research and local well-being.</p>
</article>
<hr>
<article class="toti">
<h2>APS asks a scientist...</h2>
{% include totibox.html id="image3"
                         align="right-box"
                         src="/assets/img/toti/chandler.png"
                         height="300"
                         width="250"
                         caption="Image courtesy of Vicki Chandler"
                         alt="Photograph of Vicki Chandler."
                         %}

<p>The APS surveyed Members who are female scientists to learn more about their lives and career paths. We asked geneticist <strong>Dr. Vicki Chandler (APS 2015)</strong>:</p>
<p><strong>As an APS Member, you have been recognized for your significant contributions to your fields. Please describe the obstacles, opportunities, or defining moments that led to your success.</strong></p>
<p>"I am a first generation college student, so no one in my family had an academic background or understood what I was attempting to do. They were supportive though so that wasn't an obstacle, just didn't have networks and role models that others sometimes have. My biggest obstacle, but also my driving force, was that I was divorced at 19 with two young daughters and I pursued my undergraduate and early graduate work as a single Mom. I started my undergraduate work at 24, without finishing high school, which was possible given the terrific community college system in California at that time. My defining moment was early on during my first year of attending the community college when I realized how much I loved learning science. That passion and the desire for a better life for my daughters kept me going when times got rough."</p>
</article>
<hr>
<article class="toti">
    <h2>B. Rosemary Grant</h2>
    <h3>APS Member, elected 2010</h3>
    {% include totibox.html id="image4"
                         align="left-box"
                         src="/assets/img/toti/rosemarygrant.jpg"
                         height="267"
                         width="400"
                         caption="Credit: Sameer A. Khan, Fotobuddy"
                         alt="Portrait of psychological researcher Mahzarin Banaji"
                         %}
    <p>B. Rosemary Grant brought new perspectives to Charles Darwin's theory of evolution. As a child in rural England, Dr. Grant developed an early interest in biology while collecting plants, insects, and fossils. Then, studying genetics at the University of Edinburgh, she began her research into how species evolved.</p>
    <p>While lecturing at the University of British Columbia, Rosemary met her husband and lifelong research partner, Peter Grant. They had complementary research interests, through different scientific lenses (genetics and ecology).</p>
    <p>In 1973, they first traveled to the Galápagos Islands, beginning what was planned to be a two- year study, but became a uniquely valuable long-term study. Each year, the Grants meticulously documented the body and behavior of the finches on the islands. Blood samples allowed Rosemary Grant and her colleagues to analyze and connect genetic changes with observable changes.</p>
    <p>The Grants' work demonstrated that evolution is not a single continuous change over a very long period but rather the result of constant trial and error of natural variation from generation to generation.</p>
</article>