---
layout: default
title: August 2023
---

<article class="toti">
    <h2>Katherine Fowler</h2>
    <h3>Lewis and Clark Field Scholar, 2021-2022</h3>
    {% include totibox.html id="image1"
                             align="left-box"
                             src="/assets/img/toti/fowler.jpg"
                             height="300"
                             width="400"
                             caption="Image courtesy of Katherine Fowler"
                             alt="Katherine Fowler in a vehicle on the savannah with lions in the background"
                             %}
    <p>Katherine Fowler is a Ph.D. candidate studying animal behavior at the University of Illinois at Chicago. A reproductive biology internship at Disney's Animal Kingdom in 2009 showed her how science can be used to protect and care for wild animals. From that point she was hooked, working at zoos across the U.S. and completing a Master's in Conservation Biology. Her dissertation and current examines human-caused stressors to animal populations and the effect on their health and reproductive fitness.</p>
    <p>Her grant from the APS ("Understanding the Lion's Share of the Lions' Hair: Determining Effects of Human-Wildlife Conflict on Lion Stress Physiology and Reproduction in the Ngorongoro Conservation Area of Tanzania") supported a research trip to Tanzania. Ms. Fowler is working in collaboration with KopeLion, a local organization that monitors and protects the lions living in Ngorongoro. The group provided around 300 hair samples collected over ten years for her to test lions' stress and reproductive hormone levels. Alongside KopeLion's long-term observational data, Ms. Fowler will be able to assess the health of individual lions and their groups over time. Her contribution to KopeLion's data will also aid their ongoing conservation efforts.</p>
    </article>
    <hr>
    <article class="toti">
        {% include totibox.html id="image2"
                             align="right-box"
                             src="/assets/img/toti/kivelson.jpg"
                             height="397"
                             width="400"
                             caption="Image courtesy of Margaret Kivelson"
                             alt="Three quarter portrait of Margaret Kivelson"
                             %}
        <h2>APS asks a scientist...</h2>
        <p>The APS surveyed Members who are female scientists to learn more about their lives and career paths. We asked space physicist <strong>Dr. Margaret Kivelson (APS 2005)</strong>:</p>
        <p><strong>What is a piece of advice you would tell your younger self? What would you tell up-and- coming women in science?</strong></p>
        <p>*I would tell myself to submit my dissertation research for publication. (I did not do so because shortly after I submitted my dissertation another group published results that agreed with my theoretical analysis. They had obtained the results using a very different approach. I thought that once the result had been published, I couldn't publish my work - even though the original approach in itself merited publication. My advisor did not notice that I had not published.)</p>
        <p>*I would tell myself to read about "imposter syndrome" and learn that I was not the only one experiencing that type of insecurity.</p>
    </article>
    <hr>
    <article class="toti">
    <h2>Lisa Couper</h2>
    <h3>Lewis and Clark Field Scholar, 2020-2021</h3>
    {% include totibox.html id="image3"
                             align="left-box"
                             src="/assets/img/toti/couper.jpg"
                             height="400"
                             width="400"
                             caption="Courtesy of Lisa Couper"
                             alt="Headshot of Lisa Couper in front of a blackboard with a tick scribbled on it."
                             %}
    <p>Lisa Couper investigates the connection between climate change and infectious diseases, specifically those carried by animals. In 2021, she received an APS grant for her project: "Will Mosquitoes Adapt to Climate Change: Investigating Adaptation in Tree Hole Mosquitoes in Western North America".</p>
    <p>As part of her dissertation research at Stanford University, she collected populations of the western tree hole mosquito from hundreds of sites on the west coast between San Diego and Vancouver. She used these collected mosquitoes in a lab experimenting testing for evidence of whether mosquitoes are currently adapted to temperatures—whether populations from warmer climates have higher heat tolerance than those from cooler climates—and thus, whether they may be able to adapt to warming. She found some evidence that mosquitoes populations are currently adapted to temperature, but that there was limited potential for additional evolution in heat tolerance on pace with projected rates of warming. Having recently received her Ph.D, Dr. Couper continues her research as a postdoc in the Division of Environmental Health Science at UC Berkeley. There, she will be studying the role of climate and environmental factors on the distribution of Valley Fever—an emerging fungal disease.</p>
    </article>
    <hr>
    <article class="toti">
    <h2>Jacqueline Barton</h2>
    <h3>APS Member, elected 1999; APS Vice President</h3>
    {% include totibox.html id="image4"
                             align="left-box"
                             src="/assets/img/toti/barton.png"
                             height="400"
                             width="275"
                             caption="Photo: Courtesy of Jacqueline Barton"
                             alt="Headshot of Jacqueline Barton."
                             %}
    
    <p>Jacqueline Barton, the John G. Kirkwood and Arthur A. Noyes Professor of Chemistry at the California Institute of Technology, is a chemist who has revolutionized the understanding of DNA. She first discovered her passion for chemistry as an undergraduate at Barnard and began her research into DNA at Columbia during her Ph.D. studies. </p>
    <p>More than just a passive genetic blueprint, the double helix structure of DNA has intricate properties and processes. In 1986, Dr. Barton was the first to demonstrate that DNA acts as an electrical conduit, able to move electrons through the stacked base pairs. Her research also showed that the process is extraordinarily sensitive. If there are errors in the DNA chain, the electron will not arrive at its destination. </p>
    <p>Since then, her work has delved even deeper into the properties of DNA and how scientists can utilize existing processes to identify damaged DNA, laying the foundation for new avenues of medical research. Using her discoveries and techniques, doctors may one day be able to pinpoint damage in DNA and better diagnose or treat specific diseases like cancer.</p>
    </article>