---
layout: default
title: September 2023
---

<article class="toti">
<h2>Frances Arnold</h2>
<h3>APS Member, elected 2018</h3>
{% include totibox.html id="image1"
                         align="left-box"
                         src="/assets/img/toti/arnold.jpg"
                         height="400"
                         width="264"
                         caption="Courtesy of Frances Arnold. Photo: Christopher Michel"
                         alt="Black and white image of Frances Arnold posed on a motorcycle."
                         %}
<p>Frances H. Arnold is a biochemical engineer and the Linus Pauling Professor of Chemical Engineering, Bioengineering, and Biochemistry at the California Institute of Technology. She pioneered 'directed evolution' of enzymes, allowing scientists to 'breed' enzymes for applications in energy, chemicals, and medicine. For her research, she was awarded the 2018 Nobel Prize in Chemistry.</p>
<p>Dr. Arnold started her studies in mechanical and aerospace engineering. With increasing awareness of sustainable and renewable energy beginning in the 1970s and 1980s, she became interested in how recent advances in recombinant DNA technology could advance the field of sustainable fuels and chemicals. As a result, she changed her focus to chemical engineering during her graduate studies.</p>
<p>Today, she leads a lab at the California Institute of Technology, where she and her team explore the future of chemistry using directed evolution and machine learning. Since 2021, she also co-chairs the President's Council of Advisors on Science and Technology (PCAST) for President Biden. At different stages of her career, Dr. Arnold co-founded several companies and currently serves on the boards of Illumina and Alphabet, as well as several private companies.</p>
</article>
<hr>
<article class="toti">
    {% include totibox.html id="image2"
                         align="right-box"
                         src="/assets/img/toti/khakoo.jpg"
                         height="304"
                         width="320"
                         caption="Courtesy of Yasmin Khakoo. Photo: Richard Dewitt, MSKCC"
                         alt="Portrait of Yasmin Khakoo"
                         %}
    <h2>Yasmin Khakoo</h2>
    <h3>Daland Fellow in Clinical Investigation, 1997</h3>
    <p>Yasmin Khakoo is a pediatric neurologist and neuro-oncologist at Memorial Sloan Kettering Cancer Center and a leading expert in rare pediatric neurological diseases. The daughter of two physicians, she initially was uninterested in becoming a doctor. Her aptitude in science and her desire to work with children eventually led her to pediatric medicine.</p>
    <p>As a new fellow at Memorial Sloan Kettering, in 1997 Dr. Khakoo received APS funding for her research project in Dr. Eseng Lai's lab: "Transcriptional Control of Cell Growth and Differentiation in Neuroectodermal Tumors." Since then, she has continued to combine her clinical and research work with teaching, mentoring, and leadership roles in the field. Currently, she holds positions as both Clinical Member and Child Neurology Director at MSK Kids, professor at Weill Cornell Medical College, and editor-in-chief of the journal <i>Pediatric Neurology</i>.</p>
    <p>She is the recipient of the 2023 Child Neurology Society Arnold P. Gold Foundation Humanism in Medicine Award. She is working to ensure equity, diversity and inclusion among physicians and scientists to improve access to healthcare, regardless of race, ethnicity, gender and socioeconomic status.</p>
</article>
<hr>
<article class="toti">
    {% include totibox.html id="image3"
                         align="left-box"
                         src="/assets/img/toti/zuckerman.jpg"
                         height="284"
                         width="400"
                         caption="Shutterstock. Photo by posztos"
                         alt="Three quarter portrait of Margaret Kivelson"
                         %}
    <h2>APS asks a scientist...</h2>
    <p>The APS surveyed Members who are female scientists to learn more about their lives and career paths. We asked sociologist <strong>Dr. Harriet Zuckerman (APS 1996)</strong>:</p>
    <p><strong>What is a piece of advice you would tell your younger self? What would you tell up-and- coming women in science?</strong></p>
    <p>Select important problems that interest you and work really hard. Understand that careers are not just intellectual endeavors, they almost always have political and social aspects. Don't  overlook the value of others' contributions. I served on what now seem like endless committees, boards, and panels. (I benefited from pressure to appoint women when there were so few available.) I worked hard on everything.</p>
</article>
<hr>
<article class="toti">
<h2>Suzanne Ou</h2>
<h3>Lewis and Clark Field Scholar, 2020-2021</h3>
{% include totibox.html id="image4"
                         align="right-box"
                         src="/assets/img/toti/ou.jpg"
                         height="300"
                         width="400"
                         caption="Courtesy of Suzanne Ou"
                         alt="Suzanne Ou in nature holding a large mushroom."
                         %}
<p>Suzanne Ou recently defended her Ph.D. in Ecology at Stanford University. Her research focuses on the microbiome of soils in tropical forests and their role in the larger ecosystem. Soil microbes are critical for nutrient cycling and breaking down dead matter on the forest floor and sequestering carbon.</p>
<p>In 2020, she used her APS grant to collect data and soil samples in the lowland forests of Singapore for her project “Digging Deep: The role of mutualistic soil microbes in shaping tropical forests.” She compared the soil microbes present in old growth forests and new growth forests (recovering from clear cutting and agricultural use). In addition to testing soil, she also recorded leaf litter depth and number of seedling trees in each sampled area. Her research showed that the soil microbe and flora diversity was higher in the old growth forest and that lower microbial diversity may be slowing the recovery of regrowing forests. As such, she is working with national managers and non-governmental organizations on better restoration techniques that include the belowground world for resilient recovery. She is also committed to including diverse voices to ensure just outcomes of conservation and environmental protection.</p>
</article>
<hr>
<article class="toti">
<h2>Judith Kimble</h2>
<h3>APS Member, elected 2002</h3>
{% include totibox.html id="image5"
                         align="left-box"
                         src="/assets/img/toti/kimble.jpg"
                         height="268"
                         width="400"
                         caption="Courtesy of Judith Kimble"
                         alt="Headshot of Jacqueline Barton."
                         %}

<p>Judith Kimble is a developmental biologist whose work focuses on controls that work together to create a complex multicellular organism. Her research investigates fundamental mechanisms using the nematode worm <i>C. elegans</i>, with a special emphasis on stem cell regulation. Through her research, we know that many molecular and cellular mechanisms of development are shared across animal phylogeny.</p>
<p>Dr. Kimble tried out several fields during college before settling on a pre-med track. However, in her final semester, she studied human embryology in the backdrop of the amazing progress being made in bacterial gene regulation, and realized that the molecular basis of animal development was a complete mystery. These experiences led to her passion for understanding the molecular regulation of animal development, a passion that continues to drive her to this day.</p>
<p>Dr. Kimble encourages budding scientists to focus on identifying major unsolved problems and finding ways to first tackle them and then solve them. She argues that pushing the envelope to make new discoveries is not only incredibly rewarding but also leads to advances important in both science and society. Currently, Dr. Kimble continues her work on stem cell regulation in her lab at the University of Wisconsin-Madison, where she is the Henry Vilas Professor of Biochemistry, Molecular Biology, Medical Genetics, and Cell and Regenerative Biology.</p>
</article>
