---
layout: default
title: April 2023
---

<h1 class="toti-head">Tip of the Iceberg</h1>
<article class="toti">
<h2>Claire Parkinson</h2>
<h3>APS Member, elected 2010</h3>
{% include totibox.html id="image1"
                         align="right-box"
                         src="/assets/img/toti/c-parkinson-lecture.jpg"
                         height="266px"
                         width="400px"
                         caption="Courtesy of Claire Parkinson"
                         alt="Claire Parkinson delivering a lecture"
                         %}
<p>"We live on an amazing planet with many intricately intertwined systems that we do not yet fully understand."</p>
<p>Claire Parkinson, a climate scientist at NASA's Goddard Space Flight Center, studies the unknowns of Arctic and Antarctic sea ice. Using satellite data, she tracks changes in sea ice
and examines its connection to the global climate system.</p>
<p>Her work has enhanced our understanding of climate change and its human influences. Early in her career, she developed a computer model of sea ice and used it to simulate aspects of the sea ice cover. Later, she led a team that determined from satellite data that Arctic sea ice is decreasing. She also served for decades as Project Scientist for the Earth-observing Aqua satellite and has written books on satellite Earth observations, climate change, and the history of science.</p>
{% include totibox.html id="image1"
                         align="left-box"
                         src="/assets/img/toti/c-parkinson-aqua.jpg"
                         height="265px"
                         width="400px"
                         caption="Courtesy of Claire Parkinson"
                         alt="Claire Parkinson in a classroom with the satellite Aqua."
                         %}
<p>Dr. Parkinson understands the importance of sharing knowledge beyond the scientific community and frequently engages in outreach. For example, in 2011 she led a project that produced a book and six posters highlighting careers of Women of Goddard, and in 2017 she participated in a NASA collaboration that created three manga booklets explaining Earth sciences to children.</p>
<p>Quotation source:<br>Claire L. Parkinson. Interviewed by Rebecca Wright. 1 June 2009. NASA Headquarters History Office Oral History Project, <a href=https://historycollection.jsc.nasa.gov/JSCHistoryPortal/history/oral_histories/NASA_HQ/Experts/ParkinsonCL/ParkinsonCL_6-1-09.htm target="_blank" rel="noopener noreferrer">link</a>.</p>
</article>
<hr>
<article class="toti">
<h2>Catherine McManus</h2>
<h3>APS Lewis and Clark Field Scholar, 2021-2022</h3>
{% include totibox.html id="image3"
                         align="right-box"
                         src="/assets/img/toti/mcmanus.jpg"
                         height="400"
                         width="267"
                         caption="Photo: Vu Nguyen. Courtesy of Catherine McManus"
                         alt="Catherine McManus smiling next to a butterfly perched on a plant."
                         %}
<p>Catherine McManus is a graduate student in the Biology department at Temple University, where she studies insect ecosystems and the effects of urbanization. She became interested in human impacts on pollinators after working with monarch butterflies in the agricultural fields of Nebraska.</p>
<p>In 2022, she completed a field project studying how butterflies are adapting to urban environments. The project collected common butterflies in three urban centers (Philadelphia, Pittsburgh, and Cleveland) and neighboring wild areas. By examining their physical and genetic differences, McManus will uncover how human land use may be changing butterflies. In addition, their fitness has significant effects on the ecosystems dependent on butterfly pollination.</p>
</article>
<hr>
<article class="toti">
<h2>APS asks a scientist</h2>
{% include totibox.html id="image4"
                         align="left-box"
                         src="/assets/img/toti/uhlenbeck.jpg"
                         height="267"
                         width="400"
                         caption="Andrea Kane, Institute for Advanced Study"
                         alt="Karen Uhlenbeck standing in front of a chalkboard."
                         %}

<p>The APS surveyed Members who are female scientists to learn more about their lives and career paths. We asked mathematician <strong>Dr. Karen Uhlenbeck (APS 2007)</strong>:</p>
<p><strong>What has the role of others, such as mentors and peers, been in your career?</strong></p>
<p>“I brought to my career unbounded energy and an affinity for abstract geometrical thinking. The rest is due to others. Recently at a dinner at the conference celebrating my 80th birthday, I had great fun listing all the sources of help I got, not necessarily inclusive or in the right order. ‘I want to thank my parents, my husbands, my cats, my students, my advisor, my collaborators and the dining hall staff who have supported me throughout my career.’ My women colleagues and students were very important. But before there were so many women in the mathematical world, Virginia Woolf and Julia Child were my role models. The existence proof was given by historical figures of women mathematicians (Sonia Kovaleskaya, Sofie Germain and Emily Noether). It was really important not to think too much about the future but live in the present."</p>
</article>
<hr>
<article class="toti">
    <h2>Mahzarin Banaji</h2>
    <h3>APS Member, elected 2020</h3>
    {% include totibox.html id="image5"
                         align="right-box"
                         src="/assets/img/toti/banaji.jpg"
                         height="400"
                         width="267"
                         caption="Mahzarin Banaji"
                         alt="Portrait of psychological researcher Mahzarin Banaji"
                         %}
    <p>Mahzarin Banaji pioneered the study of implicit bias, or the thoughts and feelings that occur outside conscious awareness but nevertheless underlie inequality in treatment of others. She is a co-developer of the Implicit Association Test, a measure of an individual's implicit bias in domains such as gender, age, race/ethnicity, sexuality, and disability. A professor in the Department of Psychology at Harvard University, Dr. Banaji has earned several accolades for her teaching and oversees an active and collaborative research lab investigating implicit social cognition. In three lines of research to expand understanding of implicit bias, Dr. Banaji collaborated on neuroimaging studies of race bias, identified the development of implicit bias in young children, and its presence in large language corpora using machine learning approaches to natural language processing.</p>
    <p>Along with Dr. Anthony Greenwald and Dr. Brian Nosek, Dr. Banaji founded Project Implicit in 1998 (<a href="https://www.projectimplicit.net/" target="_blank" rel="noopener noreferrer">www.projectimplicit.net</a>). Their free, online Implicit Association Tests allow individuals to investigate their own biases. Another organization founded by Dr. Banaji, Outsmarting Implicit Bias (<a href="https://outsmartingimplicitbias.org/" target="_blank" rel="noopener noreferrer">outsmartingimplicitbias.org/</a>), educates the public about the science of implicit bias and its socially significant consequences in domains such as jobs, healthcare, law and law enforcement, and education. She is co-author of Blindspot: Hidden Biases of Good People.</p>
</article>