---
layout: default
title: June 2023
---

<h1 class="toti-head">Tip of the Iceberg</h1>
<article class="toti">
    <h2>Deb Niemeier</h2>
    <h3>APS Member, elected 2021</h3>
    {% include totibox.html id="image1"
                             align="left-box"
                             src="/assets/img/toti/niemeier.png"
                             height="317px"
                             width="222px"
                             caption="Courtesy of Deb Niemeier"
                             alt="Deb Niemeier wearing a sash smiling and waving at the camera."
                             %}
    <p>Deb Niemeier uses civil engineering to advocate for a more equitable and just future for everyone. Throughout her career, she has consistently focused on the unintended consequences of design and how they can be fixed.</p>
    <p>Her early research focused on transportation and pollution, specifically how people's behavior on the road could change how much pollution was emitted by cars. When she showed that those pollutants traveled farther than California state guidelines accounted for, policy changes were made to better protect against the health hazard. While a professor at UC Davis, she founded the Sustainable Design Academy to allow students to work on projects focused on sustainable engineering.</p>
    <p>In 2019, Dr. Niemeier joined the faculty of University of Maryland, College Park as the Clark Distinguished Chair in Sustainability and a Professor in Civil and Environmental Engineering. Her work is grounded in the study of how existing infrastructure systems can harm marginalized communities, especially in light of climate change and disasters. She collaborates with professionals across many fields to understand structural inequality and to find solutions for ongoing structural inequality. In 2022, she became Director of the University's Center for Disaster Resilience. She is a member of NAE, a Guggenheim Fellow and was awarded the 2023 Bower Award for Science Achievement.</p>
    </article>
    <hr>
    <article class="toti">
    <h2>Katrina Sky Munsterman</h2>
    <h3>Lewis and Clark Field Scholar, 2021-2022</h3>
    {% include totibox.html id="image2"
                             align="right-box"
                             src="/assets/img/toti/munsterman.jpg"
                             height="300"
                             width="225"
                             caption="Photo: Duran Mitchell. Courtesy of Katrina Sky Munsterman"
                             alt="Katrina Sky Munsterman smiling in front of a body of water."
                             %}
    <p>Katrina Sky Munsterman is a Ph.D. student studying fish ecology at the University of Michigan, Ann Arbor. She examines the role of fish and fisher behavior in small-scale reef fisheries.</p>
    <p>In 2022, Munsterman undertook an APS-funded project: “Exploring Optimal Foraging in a Common Reef Fish in The Bahamas.” Over 16 weeks, she tracked the locations of 48 white grunts (a small reef fish) in an artificial reef system to better understand their movement behaviors. Beyond their role in reef ecosystems, grunts and other reef fish are food staples for many Caribbean communities. Munsterman is using fish movement data in combination with ecological models to better understand how artificial reefs can be used to manage fisheries and sustainably feed coastal communities.</p>
    </article>
    <hr>
    <article class="toti">
    <h2>APS asks a scientist...</h2>
    {% include totibox.html id="image3"
                             align="left-box"
                             src="/assets/img/toti/klinman.jpg"
                             height="267"
                             width="400"
                             caption="Courtesy of Judith Klinman"
                             alt="Judith Klinman seated in her lab."
                             %}
    
    <p>The APS surveyed Members who are female scientists to learn more about their lives and career paths. We asked biochemist <strong>Dr. Judith Klinman (APS 2001)</strong>:</p>
    <p><strong>What is a piece of advice you would tell your younger self? What would you tell up-and-coming women in science?</strong></p>
    {% include totibox.html id="image5" 
                            align="right-box"
                            src="/assets/img/toti/klinman2.jpg"
                            height="267"
                            width="400"
                            caption="Klinman being awarded the President's National Medal of Science by President Barack Obama at the White House on November 20, 2014. Courtesy of Judith Klinman"
                            alt="Judith Klinman standing next to President Barack Obama while a government official in uniform presents the National Medal of Science."
                            %}
    <p>Work on building self confidence, as an antidote to efforts by others, either intentionally or unintentionally, to undermine your progress and success. Pursue science projects that fully engage your curiosity and attention, having as much fun as possible in the process. Be open to unexpected observations that may (serendipitously) lead you to more exciting findings and new areas of research. Don't be afraid to represent yourself! Know when to say no:-)</p>
    
    </article>
    <hr>
    <article class="toti">
        <h2>New Members</h2>
        <h3>Elected 2023</h3>
        {% include totibox.html id="image5"
                             align="right-box"
                             src="/assets/img/toti/philhall.jpg"
                             height="268"
                             width="400"
                             caption="Credit: Brent Wahl"
                             alt="The APS's Philosophical Hall as viewed from 5th Street in Philadelphia"
                             %}
    <p>Each year, the American Philosophical Society elects new Members from all different disciplines. This year, eight female scientists have been elected to the membership:</p>
    <h3>Lene Vestergaard Hau</h3>
    <p>Mallinckrodt Professor of Physics and of Applied Physics, Harvard University.</p>
    <p>Lene Hau led a team who succeeded in slowing a pulse of light at 15 miles per hour and also brought light to a stop. Subsequent results represent the ultimate quantum control of light and matter.</p>
    <h3>Marilyn Raphael</h3>
    <p>Director, Institute of the Environment and Sustainability, Professor, Department of Geography, University of California, Los Angeles; Affiliate Scientist, National Center for Atmospheric Research.</p>
    <p>Marilyn Raphael is an internationally prominent Antarctic research scientist, best known for her work on climate change and variability in the south polar region.</p>
    <h3>Carol Vivien Robinson</h3>
    <p>Dr. Lee's Professor of Physical Science and Theoretical Chemistry, Professional Fellow, Exeter College, Founder Director, Kavli Institute for Nanoscience Discovery, Founder Director, OMass Therapeutics, University of Oxford.</p>
    <p>Carol Robinson is recognized for establishing mass spectrometry as a viable technology to study the structure and function of proteins.</p>
    <h3>Rosina M. Bierbaum</h3>
    <p>Roy F. Westin Chair in Natural Economics, School of Public Policy, University of Maryland; Professor of Natural Resources and Environmental Policy, University of Michigan.</p>
    <p>Rosina Bierbaum is an ecologist working at the environment-science-policy interface, particularly on climate change, adaptation, and development issues.</p>
    <h3>Barbara Anna Schaal</h3>
    <p>Mary Dell Chilton Distinguished Professor of Biology, Washington University in St. Louis.</p>
    <p>Barbara Schaal is a plant evolutionary biologist who uses DNA sequences to understand evolutionary processes such as gene flow, geographical differentiation and the domestication of crop species.</p>
    <h3>Jennifer Lynn Eberhardt</h3>
    <p>Morris M. Doyle Centennial Professor of Public Policy, William R. Kimball Professor at the Graduate School of Business, Professor of Psychology and by courtesy, of Law, Co-Director, SPARQ (Social Psychological Answers to Real-World Questions), Stanford University.</p>
    <p>Psychological scientist Jennifer Eberhardt defines the visual perception of race. Her 2020 tour- de-force is <i>Biased: Uncovering the Hidden Prejudice that Shapes What We See, Think, and Do.</i></p>
    <h3>Kathryn Edin</h3>
    <p>William Church Osborn Professor of Sociology and Public Affairs, Director, Center for Research on Child Wellbeing, Princeton University.</p>
    <p>Kathryn Edin's research has taken on key mysteries about poverty that have not been fully answered by prior research. The hallmark of her research is her direct, in-depth observations of the lives of low-income women, men, and children.</p>
    <h3>Naomi Ellemers</h3>
    <p>Distinguished University Professor, Social and Behavioral Sciences, Utrecht University.</p>
    <p>Naomi Ellemer's scientific publications explain how group affiliations shape individuals, in work and life—especially self-categorizing as a group member, permeability of boundaries, within-group variability, group commitment, and group esteem.</p>
    </article>