---
layout: default
title: November 2023
---

<article class="toti">
    <article class="toti">
        {% include totibox.html id="image1"
                             align="left-box"
                             src="/assets/img/toti/hrdy.jpg"
                             height="283"
                             width="400"
                             caption="Image courtesy of Sarah Blaffer Hrdy. Photo: Dan Hrdy"
                             alt="Hrdy posed casually in front of a tree wearing a light outdoor jacket. "
                             %}
        <h2>APS asks a scientist...</h2>
        <p>The APS surveyed Members who are female scientists to learn more about their lives and career paths. We asked anthropologist <strong>Dr. Sarah Blaffer Hrdy (APS 2011)</strong>:</p>
        <p><strong>As an APS Member, you have been recognized for your significant contributions to your fields. Please describe the obstacles, opportunities, or defining moments that led to your success.</strong></p>
        <p>The year I graduated from Harvard College, women were still not allowed in the undergraduate library and the sole woman professor retired shortly after. When I returned to Harvard for a PhD in Biological Anthropology, I was my advisor's first woman graduate student. Yet the more aware I became of the androcentric biases (very evident in evolutionary theories at that time) the more nearly I was galvanized rather than discouraged. Expanding evolutionary theory to include selection pressures on both sexes became an important part of my work.</p>
    </article>
    <hr>
<article class="toti">
    <h2>Andrea Mia Ghez</h2>
    <h3>APS Member, elected 2012</h3>
    {% include totibox.html id="image2"
                             align="right-box"
                             src="/assets/img/toti/ghez.jpg"
                             height="400"
                             width="286"
                             caption="Image Courtesy of Andrea Ghez. Photo: Nobel Foundation"
                             alt="Formal portrait of Ghez dressed in all black smiling."
                             %}
    <p>Andrea Mia Ghez is a professor of Physics & Astronomy and the Lauren B. Leichtman & Arthur E. Levine chair in Astrophysics at UCLA. Her career-long focus has been using observational astronomy to study the center of the Milky Way Galaxy.</p>
    <p>In college, she realized her skills in math and science matched well with her interest in space and the mysteries of the universe. She credits her mentors with supporting her and teaching her valuable skills, including how to turn problems into opportunities, allowing data to tell the story, and encouraging her to work through her fear of public speaking.</p>
    <p>Dr. Ghez’s research utilizes powerful ground telescopes, including the Keck Observatory in Hawaii, to map the orbits of stars close to the center of the galaxy. The speed of these orbits indicates a center of extreme mass, strong evidence that a supermassive blackhole is in the middle of the Milky Way. In 2020, she was awarded the Nobel Prize, only the fourth woman to receive the prize in physics. Dr. Ghez and her research group at UCLA continue to advance our understanding of physics and our galaxy.</p>
    </article>
<hr>
<article class="toti">
    <h2>Kathryn Olszowy</h2>
    <h3>Franklin Research Grant Recipient, 2020-2021</h3>
    {% include totibox.html id="image3"
                             align="left-box"
                             src="/assets/img/toti/olszowy.jpg"
                             height="400"
                             width="225"
                             caption="Courtesy of Kathryn Olszowy"
                             alt="Close-up portrait of Kathryn Olszowy."
                             %}
    <p>Kathryn Olszowy is an associate professor of Anthropology at New Mexico State University. She initially received a 2020 Franklin research grant for her ongoing study in Vanuatu on the connection between displacement due to natural disasters and human health. During the pandemic, Dr. Olszowy pivoted to a local project with her NMSU collaborator Dr. Mary Alice Scott: “Diabetes, Food Insecurity, and Mental Distress During the Covid-19 Pandemic: Applying Syndemic Theory to Understanding Biosocial Interactions and Outcomes in New Mexico Colonias.”</p>
    <p>People with diabetes from underdeveloped communities along the US-Mexico border in Dona Ana County were surveyed about their experience during the pandemic. While mental distress had a negative connection to diabetes control, Drs. Olszowy and Scott found that most participants reported similar or better control of their diabetes than before the pandemic. The positives and negatives experienced by this group will help local health councils better support people with diabetes. The research also contributes to the larger body of research on health outcomes during the pandemic not directly tied to COVID-19. Dr. Olszowy is also particularly committed to student involvement in research; this project trained several NMSU undergraduate and graduate students in rapid disaster research at a time when student access to research experiences was limited by the pandemic.</p>
    </article>
<hr>
<article class="toti">
    {% include totibox.html id="image4"
                         align="right-box"
                         src="/assets/img/toti/bajcsy.jpg"
                         height="272"
                         width="400"
                         caption="Image courtesy of Ruzena Bajcsy"
                         alt="Portrait of Baycsy dressed in a red sweater and seated in front of a wooden fence with leafy plants behind her."
                         %}
    <h2>Ruzena Bajcsy</h2>
    <h3>APS Member, elected 2005</h3>
    <p>Ruzena Bajcsy is one of the founding figures of robotics and machine sensory perception. Her research focuses on machine learning and artificial intelligence applications to human industries.</p>
    <p>Dr. Bajcsy was interested in mathematics from childhood, and her father’s work as a civil engineer inspired her to look for ways technology could improve infrastructure. She started her career as an electrical engineer, working on early computers in Bratislava. While on exchange at Stanford University in the lab of John McCarthy, a professor and artificial intelligence researcher, she made the difficult decision to stay in the US. While at Stanford, she developed an interest in artificial perception and robotics and helped develop and expand the field in many ways throughout her career.</p>
    <p>She always looks for ways that her work can be useful to people. In response to a problem raised by doctors, Dr. Bajcsy was the first to develop a digital anatomical atlas of the human brain with an elastic matching algorithm that improved the process of identifying problems in brain scans.  In addition to her research, she founded the GRASP (General Robotics, Automations, Sensing, & Perception) Lab at the University of Pennsylvania and was the founding director of the Center for Information Technology Research in the Interest of Society (CITRIS) at the University of California, Berkeley.</p>
</article>
